*{
    font-family: 'Alegreya Sans', sans-serif;;
    overflow: hidden;
}

body{
    background: url(../img/pozadina-loading.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.loading-title{
    position: relative;
    text-align: center;
    margin-top: 90px;
    font-size: 2rem;
    color: #4F80FF;
}

.loading-subtitle{
    position: relative;
    text-align: center;
    margin-top: 4em;
    font-size: 1rem;
    color: #4F80FF;
}

.loading-subtitle span{
    animation: dots 1.4s infinite;
    animation-fill-mode: both;
}

.loading-subtitle span:nth-child(2){
    animation-delay: .2s;
}

.loading-subtitle span:nth-child(3){
    animation-delay: .4s;
}

#loader-container{
    width: 200px;
    height: 200px;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.loader-div{
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border: 8px solid #4F80FF;
    border-top: 8px solid #02DDC8;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes dots {
    0%{
        opacity: .2;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: .2;
    }
}