html{
    overflow: hidden !important;
    font-family: 'Alegreya Sans', sans-serif;
}

#about{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-size: cover;
    width: 100%;
}

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    color: #4F80FF;
}

.slash-1 {
    height: 10px;
    background-image: linear-gradient(-45deg,
      transparent,
      transparent 25%,
      currentColor 25%,
      currentColor 50%,
      transparent 50%,
      transparent 75%,
      currentColor 75%);
    background-size: 10px 10px;
    width: 50%;
  }

#about h1{
    margin-top: 6rem;
    color: #4F80FF;
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#about p{    
    margin : 5rem 6rem;
    color: #02DDC8;
    font-size: 1.7rem;
    text-align: center;
}

#faq{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-size: cover;
    width: 100%;
}

#mailto{
    color: #02DDC8;
    font-size: 1rem;
}

#mailto a{
    color: #4F80FF;
}

#faq h1{
    margin-top: 7rem;
    color: #4F80FF;
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#faq .collapsible{
    color: #0C346B;
    margin: 2rem 17rem;
}

#faq .collapsible-body{
    color: #02DDC8;
    font-size: 1.5rem;
    background-size: cover;
    background: url(../img/MatijaFAQ-17.jpg);
}

@media(max-width:935px){
    #about h1{
        font-size: 5rem;
    }
    #faq h1{
        font-size: 4rem;
    }
    #about p{
        font-size: 1.5rem !important;
    }
}

@media(max-width: 450px){
    .slash-1{
        width: 50%;
        height: 5px;
    }

    #about h1{
        font-size: 3rem;
    }
    
    #faq h1{
        margin-top: 3rem;
        font-size: 3rem;
    }

    #faq .collapsible{
        font-size: .8rem;
        margin: 2rem 1rem;
    }

    #faq .collapsible-body{
        font-size: .7rem;
    }

    #about p{
        font-size: .8rem !important;
    }
}