html {
    overflow: hidden !important;
}

.naslov h2{
    padding-top: 5rem;
    margin: 0 auto 0 auto;
    color: #4F80FF;
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.naslov hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    color: #4F80FF;
}

.naslov .slash-2 {
    height: 10px;
    background-image: linear-gradient(-45deg,
      transparent,
      transparent 25%,
      currentColor 25%,
      currentColor 50%,
      transparent 50%,
      transparent 75%,
      currentColor 75%);
    background-size: 10px 10px;
    width: 30%;
  }

.swiper-container {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 330px;
    background: url(../img/MatijaFAQ-17.jpg);
}

.swiper-slide .imgBx {
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.swiper-slide .imgBx img {
    width: 100%;
}

.swiper-slide .details {
    box-sizing: border-box;
    padding-top: 20px;
}

.swiper-slide .details h3 {
    margin: 0;
    padding: 0;
    color: #02DDC8;
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
}

.swiper-slide .details a{
    margin: 0;
    padding: 0;
    color: #0C346B;
    font-size: .9rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.swiper-slide .details a:hover{
    color: #02DDC8;
    font-size: 1rem;
    transition: .7s;
}

@media screen and (max-width:800px){
    .naslov h2{
        padding-top: 10rem;
        font-size: 3rem;
    }

    .naslov .slash-2{
        height: 5px;
        width: 50%;
    }

    .swiper-container{
        width: 70%;
    }

    .swiper-slide{
        width: 180px;
        height: 260px; 
    }

    .swiper-slide .imgBx {
        height: 180px;
        width: 100%;
    }

    .swiper-slide .details h3 {
        font-size: .9rem;
    }

    .swiper-slide .details a{
        font-size: .7rem;
    }
    
    .swiper-slide .details a:hover{
        font-size: .8rem;
    }
}

@media screen and (max-height:600px){
    .naslov h2{
        padding-top: 8rem;
        font-size: 3rem;
    }

    .swiper-container{
        width: 70%;
    }

    .swiper-slide{
        width: 150px;
        height: 230px; 
    }

    .swiper-slide .imgBx {
        height: 150px;
        width: 100%;
    }

    .swiper-slide .details h3 {
        font-size: .8rem;
    }

    .swiper-slide .details a{
        font-size: .6rem;
    }
    
    .swiper-slide .details a:hover{
        font-size: .7rem;
    }
}