@import url('https://fonts.googleapis.com/css?family=Archivo');

html{
    overflow-y: hidden;
    font-family: 'Archivo', sans-serif;
}

#about{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #0C346B;
}

#about h1{
    margin-top: 7rem;
    color: #4F80FF;
    font-size: 6rem;
    text-align: center;
    font-weight: bolder;
}

#about p{
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 4rem;
    color: #02DDC8;
    font-size: 1.5rem;
    text-align: center;
}

#faq{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #4F80FF;
}

#faq h1{
    margin-top: 7rem;
    color: #0C346B;
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
}

#faq .collapsible{
    color: #0C346B;
    margin: 2rem 5rem 0 5rem;
}

#faq .collapsible-body{
    color: #0C346B;
    background-color: #fff;
}

@media(max-width: 700px){
    html{
        overflow: visible;
    }
    #about{
        width: 100%;
        height: 100vh;
    }
    #about h1{
        font-size: 5rem;
    }
    #about p{
        font-size: 1.3rem;
    }
    #faq{
        width: 100%;
        height: 100vh;
    }
}