@import url('https://fonts.googleapis.com/css?family=Archivo');

#umi

    .col{
        background-color: transparent;
    }
    #cont{
        padding-top: 10px;
    }

    .linkedin {
        margin-top: 3rem;
        z-index: 1;
    }
      
    .email-org {
        margin-top: 6.5rem;
        z-index: 1;
    }
      
    .org-name {
        font-size: 1.3rem;
        margin-top: 0.3rem;
        z-index: 1;
    }

    .ime{
          margin-top: 0px;
          margin-bottom: 5px;
          font-size: 1.8rem;
    }

    .titula{
          margin-top: 0px;
          margin-bottom: 0px;
          font-size: 1.1rem;
    }
      
    .org-title {
        font-size: 1rem;
        margin-top: 2.3rem;
    }
      
    #razmak{
        margin: 7px;
    }

    .card{
        padding: 5px;
    }

    #blur3 {
        text-align: center;
        position: relative;
    }
      
    #blur3 img {
        width: 150px; /* OVDE ME PROMENI !!!!!!!!!!! */
        border-radius: 6px;
        -webkit-filter: contrast(1) blur(0);
        filter: contrast(1) blur(0);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        pointer-events: none;
    }
      
    #blur3:hover img {
      /* -webkit-filter: contrast(60%) blur(2px);
       filter: contrast(60%) blur(2px); Ne radim na kompu*/
    }
      
    #blur3 :not(img) {
        position: absolute;
        top: 20%;
        right: 12%;
        z-index: 1;
        color: #fff;
        width: 75%;
        opacity: 0;
        transition: .3s;
    }
      
    #blur3:hover :not(img) {
      opacity: 1;
    }

    #test{
        background-size: cover;
        background-repeat: no-repeat;
    }

    .gore{
        margin-top: 15px;
    }


    .tim {
        padding: 0;
        margin: 20px auto 0 auto;
        color: #02DDC8;
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
        text-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    }

    .tim h2{
        margin-bottom: 5px;
        font-size: 2.9rem;
    }
    
    .crta {
        border: 0;
        height: 1px;
        width: 30%;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(19, 233, 222), rgba(255, 255, 255, 0));
    }
    


    @media only screen and (max-width: 992px) {
        

        .ime{
            font-size: 1.2rem;
            margin-bottom: 0px;
        }

        .titula{
            font-size: 0.7rem;
            margin-bottom: 5px;

        }

        .linkedin{
            color: rgb(88, 86, 86);
            
        }

        .mail{
            color: rgb(88, 86, 86);
        }

        #blur3 img{
            margin-bottom: 2px;
        }

        #cont{
            padding-top: 0px;
        }
        .gore{
            margin-top: 0px;
        }

        .tim {
            padding: 0;
            margin: 8px auto 0 auto;
            color: #02DDC8;
            font-size: 2rem;
            font-weight: bolder;
            text-align: center;
            text-shadow: 0 10px 10px rgba(0, 0, 0, .2);
        }
    
        .tim h2{
            padding-top: 0px;
            margin-top: 0px;
            padding-bottom: 5px;
            margin-bottom: 0px;
        }
        
        .crta {
            border: 0;
            margin-top: 0px;
            margin-bottom: 10px;
            height: 1px;
            width: 30%;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(19, 233, 222), rgba(255, 255, 255, 0));
        }

        #blur3 img {
            width: 110px;
            border-radius: 6px;
            -webkit-filter: contrast(1) blur(0);
            filter: contrast(1) blur(0);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            pointer-events: auto;
        }

        #blur3:hover img {
            -webkit-filter: contrast(60%) blur(2px);
             filter: contrast(60%) blur(2px);
        }
    }

}