html{
    overflow: hidden !important;
    font-family: 'Alegreya Sans', sans-serif;
}

#about{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-size: cover;
    width: 100%;
}

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    color: #4F80FF;
}

.box.four hr{
    color: #02DDC8;
}

.box.four #faq h1{
    color: #02DDC8;
}

.box.five #about h1{
    color: #02DDC8;
}

.box.five hr{
    color: #02DDC8;
}

.slash-1 {
    height: 10px;
    background-image: linear-gradient(-45deg,
      transparent,
      transparent 25%,
      currentColor 25%,
      currentColor 50%,
      transparent 50%,
      transparent 75%,
      currentColor 75%);
    background-size: 10px 10px;
    width: 50%;
  }

#about h1{
    margin-top: 4rem;
    color: #4F80FF;
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#about p{    
    margin : 3rem 15rem;
    padding: 2rem;
    color: #02DDC8;
    background: url(../img/overlay\ p.png);
    font-size: 1.5rem;
    text-align: center;
    border: #02DDC8 5px solid;
    border-radius: 2.4em 0em 2.4em 0em;
}

#about p span{
    color: rgb(42, 255, 234);
    font-weight: bolder;
}

#faq{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-size: cover;
    width: 100%;
}

#mailto{
    color: #02DDC8;
    font-size: 1rem;
}

#mailto a{
    color: #4F80FF;
}

#faq h1{
    margin-top: 7rem;
    color: #4F80FF;
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#faq .collapsible{
    color: #0C346B;
    margin: 2rem 17rem;
}

#faq .collapsible-body{
    color: #02DDC8;
    font-size: 1.5rem;
    background-size: cover;
    background: url(../img/MatijaFAQ-17.jpg);
}

@media screen and (max-width: 800px){
    .slash-1{
        width: 50%;
        height: 5px;
    }

    #about h1{
        margin-top: 10rem;
        font-size: 2.7rem;
    }

    #about p{
        margin : 3rem 2.5rem;
        padding: 2.5rem;
        font-size: .8rem !important;
    }
    
    #faq h1{
        margin-top: 9rem;
        font-size: 2.7rem;
    }

    #faq .collapsible{
        font-size: .8rem;
        margin: 2rem 1rem;
    }

    #faq .collapsible-body{
        font-size: .9rem;
    }
}

@media screen and (max-height: 600px){
    
    #about h1{
        margin-top: 3rem;
        font-size: 2.5rem;
    }

    #about p{
        margin : 3rem 2.5rem;
        padding: 2rem;
        font-size: .8rem !important;
    }
    
    #faq h1{
        margin-top: 3rem;
        font-size: 2.5rem;
    }

    #faq .collapsible{
        font-size: .8rem;
        margin: 2rem 1rem;
    }

    #faq .collapsible-body{
        font-size: .7rem;
    }
}

@media (min-width: 1600px){
    #about h1{
        margin-top: 15%;
        font-size: 6rem;
    }

    #about p{
        margin: 3rem 20rem;
        padding: 3rem;
        font-size: 1.6rem;
    }

    #faq h1{
        margin-top: 15%;
        font-size: 6rem;
    }

    #faq .collapsible{
        font-size: 1.5rem;
        margin: 3rem 18rem;
    }

    #faq .collapsible-body{
        font-size: 1.8rem;
    }

    #mailto{
        font-size: 1.4rem;
    }
}

@media (min-height: 1000px){
    #about h1{
        margin-top: 15%;
        font-size: 6rem;
    }

    #about p{
        margin: 3rem 20rem;
        padding: 3rem;
        font-size: 1.6rem;
    }

    #faq h1{
        margin-top: 15%;
        font-size: 6rem;
    }

    #faq .collapsible{
        font-size: 1.5rem;
        margin: 3rem 18rem;
    }

    #faq .collapsible-body{
        font-size: 1.8rem;
    }

    #mailto{
        font-size: 1.4rem;
    }
}