@import url('https://fonts.googleapis.com/css?family=Archivo');

#umi

    .col{
        background-color: transparent;
    }
    #cont{
        padding-top: 50px;
    }

    .linkedin {
        margin-top: 5rem;
        z-index: 1;
    }
      
    .email-org {
        margin-top: 6.5rem;
        z-index: 1;
    }
      
    .org-name {
        font-size: 1.3rem;
        margin-top: 0.3rem;
        z-index: 1;
    }

    .ime{
          margin-top: 0px;
          margin-bottom: 5px;
    }

    .titula{
          margin-top: 0px;
          margin-bottom: 0px;
          font-size: 1.5rem;
    }
      
    .org-title {
        font-size: 1rem;
        margin-top: 2.3rem;
    }
      
    #razmak{
        margin: 7px;
    }

    .card{
        padding: 5px;
    }

    #blur3 {
        text-align: center;
        position: relative;
    }
      
    #blur3 img {
        width: 180px;
        border-radius: 6px;
        -webkit-filter: grayscale(0) blur(0);
        filter: grayscale(0) blur(0);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
      
    #blur3:hover img {
      -webkit-filter: grayscale(100%) blur(3px);
       filter: grayscale(100%) blur(3px);
    }
      
    #blur3 :not(img) {
        position: absolute;
        top: 20%;
        right: 12%;
        z-index: 1;
        color: #fff;
        width: 75%;
        opacity: 0;
        transition: .3s;
    }
      
    #blur3:hover :not(img) {
      opacity: 1;
    }

    #test{
        background-image: url(img/grid-1.png);
        background-size: cover;
        background-repeat: no-repeat;

    }

    .gore{
        margin-top: 15px;
    }


    @media only screen and (max-width: 992px) {
        

        .ime{
            font-size: 1.2rem;
            margin-bottom: 0px;
        }

        .titula{
            font-size: 0.7rem;
        }

        .linkedin{
            color: rgb(88, 86, 86);
            
        }

        .mail{
            color: rgb(88, 86, 86);
        }

        #blur3 img{
            margin-bottom: 2px;
        }

        #cont{
            padding-top: 0px;
        }
        .gore{
            margin-top: 0px;
        }
    }

}